--extra-index-url https://download.pytorch.org/whl/cu118

numpy>=1.23.5,<2
typing-extensions>=4.8.0
opencv-python==4.11.0.86
cv2_enumerate_cameras==1.1.18.3
onnx==1.17.0
insightface==0.7.3
psutil==5.9.8
tk==0.1.0
customtkinter==5.2.2
pillow==11.1.0
torch==2.7.0; sys_platform == 'darwin' and platform_machine == 'arm64'
torchvision==0.22.0; sys_platform == 'darwin' and platform_machine == 'arm64'
onnxruntime-silicon==1.16.3; sys_platform == 'darwin' and platform_machine == 'arm64'
tensorflow;
tensorflow-metal;
opennsfw2==0.14.0
protobuf==4.25.7
